<div class="mt-3 text-center">
  <mat-form-field appearance="legacy" class="relative">
    <mat-label>Seleccione un filtro</mat-label>
    <mat-select (selectionChange)="onSelectionUserFilterChange($event)">
      <mat-option [value]="filter" *ngFor="let filter of userFilters">{{ filter | userFilter }}</mat-option>
    </mat-select>
    <i class="fas fa-user absolute right-0"></i>
  </mat-form-field>
</div>

<form [formGroup]="form" *ngIf="selected" class="text-center">
  <mat-form-field appearance="legacy">
    <mat-label>{{ selected | userFilter }}</mat-label>

    <input matInput type="text" formControlName="value" />

    <mat-error *ngIf="form.get('value').hasError('required')">{{ selected | userFilter }} Requerido</mat-error>
    <mat-error *ngIf="form.get('value').hasError('pattern') || form.get('value').hasError('email')"
      >Formato inválido</mat-error
    >
  </mat-form-field>
</form>

<app-select-period *ngIf="form.valid" (onRange)="emitRange($event)"></app-select-period>
