<div mat-dialog-content>
  <h1 mat-dialog-title>
    <i class="fas fa-plus-circle"></i>
    Nueva Zona
  </h1>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="form.get('name').hasError('required')">Campo requerido</mat-error>
    </mat-form-field>

    <div class="absolute bottom-1 text-center space-x-2 m-0">
      <button mat-raised-button color="warn" type="button" (click)="close()">
        <i class="fas fa-times-circle"></i>
        Cancelar
      </button>
      <button mat-raised-button color="primary">
        <i class="fas fa-save"></i>
        Guardar
      </button>
    </div>
  </form>
</div>
