<html lang='es-ES'>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <title>Restablecer contrase침a.</title>
    <meta name='description' content='Reset Password Email Template.' />
  </head>

  <body style='margin: 0px; background-color: #fff;'>
    <!--100% body table-->
    <table cellspacing='0' border='0' cellpadding='0' width='100%'>
      <tr>
        <td>
          <table
            style='
              max-width: 670px;
              margin: 0 auto;
              -webkit-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
              -moz-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
              box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
            '
            width='100%'
            align='center'
            cellpadding='0'
            cellspacing='0'
          >
            <tr>
              <td style='height: 80px; text-align: center'>
                <img src='{{link}}logo.svg' alt='logo' width='150px' />
                &nbsp;
              </td>
            </tr>

            <tr>
              <td style='height: 20px'>&nbsp;</td>
            </tr>
            <tr>
              <td>
                <table
                  width='95%'
                  align='center'
                  cellpadding='0'
                  cellspacing='0'
                  style='max-width: 670px; text-align: center; padding: 1rem 0'
                >
                  <tr>
                    <td style='height: 40px'>&nbsp;</td>
                  </tr>
                  <tr>
                    <td style='padding: 0 35px'>
                      <h1 style='color: #000; font-weight: 400; margin: 0; font-size: 1rem;'>
                        Para restablecer su contrase침a presione en el siguiente enlace y siga las instrucciones 游닀.
                      </h1>

                      <a
                        href='{{linkFrontend}}'
                        style='background:#fff;text-decoration:none !important; font-weight:400; margin-top:35px; color:#F26133;text-transform:uppercase; font-size:14px; display:inline-block'
                      >Restablecer contrase침a</a>

                      <small style='color:#000; margin-top:1.5rem; display:block; text-align:center'>Enlace valido por
                        los pr칩ximos 15 minutos</small>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <tr>
              <td
                style='
                  height: 60px;
                  background-color: #0B0A54;
                  text-align: center;
                  
                  padding: 1rem 0;
                  font-size: 0.9rem;
                '
              >
                <span style='color: white;'> https://marcos-velasquez.github.io/app-asistencias/</span>

                <br />

              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>