<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary" translucent>
    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="assistance">
      <ion-icon name="checkmark-done-circle-outline"></ion-icon>
      <ion-label>Asistencia</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history">
      <ion-icon name="file-tray-stacked-outline"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
