<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="end">
      <ion-button (click)="_modal.dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light" size="small">Cambiar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item>
      <div>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input color="secondary" type="password" formControlName="password"></ion-input>
        <span appTogglePassword></span>
      </div>

      <div class="error__messages" *ngIf="formValidator.isInvalid('password')">
        <small *ngIf="form.get('password')?.hasError('required')">Campo requerido</small>
        <small *ngIf="form.get('password')?.hasError('minlength')">Mínimo de caracteres 8</small>
      </div>
    </ion-item>

    <ion-item>
      <div>
        <ion-label position="floating">Repetir Contraseña</ion-label>
        <ion-input color="secondary" type="password" formControlName="repeatPassword"></ion-input>
        <span appTogglePassword></span>
      </div>

      <div class="error__messages" *ngIf="formValidator.isInvalid('repeatPassword')">
        <small *ngIf="form.get('repeatPassword')?.hasError('required')">Campo requerido</small>
        <small *ngIf="form.get('repeatPassword')?.hasError('minlength')">Mínimo de caracteres 8</small>
      </div>

      <div
        class="error__messages"
        *ngIf="!formValidator.isInvalid('repeatPassword') && form?.hasError('repeatPassword')"
      >
        <small>Las contraseñas no coinciden</small>
      </div>
    </ion-item>

    <ion-button expand="full" type="submit" class="mt-5" shape="round">Aceptar</ion-button>
  </form>
</ion-content>
