<section class="flex flex-col justify-center items-center">
  <h1 class="text-4xl lg:text-3xl my-4">Recuperar contraseña</h1>

  <form class="w-72" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="relative" [ngClass]="{ invalid: formValidator.isInvalid('email') }">
      <input id="email" formControlName="email" class="input__primary peer" placeholder="*" />
      <label for="email" class="label">Correo Electrónico</label>
      <span class="fas fa-envelope input__icon"></span>

      <div class="error__messages" *ngIf="formValidator.isInvalid('email')">
        <small *ngIf="form.get('email')?.hasError('required')">Campo requerido</small>
        <small *ngIf="form.get('email')?.hasError('email')">Email no válido</small>
      </div>
    </div>

    <button type="sumbit" class="btn__primary mt-10">aceptar</button>
  </form>
  <a
    [routerLink]="['/auth', 'login']"
    class="mt-8 block text-sm text-center font-semibold text-blue-900 hover:underline"
    >Iniciar Sesión</a
  >
</section>
